<footer class="footer navbar-fixed-bottom">
  <div class="container navbar-left">
    <p><span class="text-muted">©<%= Preference.default.company %> <%= Time.now.year %>. All Rights Reserved.</span></p>
  </div>
</footer>
