<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>SurveyMaker</h1>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Thank you for visiting:</h4>
        <p>The code for this app can be found on <a href="https://github.com/DeweyBanks/Survey2">Github</a>. </p>
        <p>I would love your feedback. Please take the time to review my code, paying special attention to the specs. My goal with SurveyMaker was to not only build out database relationships but to build a thorough testing suite. </p>
        <p>So let me know what I missed, what I could/should have done differently. You will instantly become my bestfrend!</p>
        <p>Best,</p>
        <p>Michael Hall</p>
      </div>
    </div>
  </div>
</div>

<div class="row feedback-wrapper">
  <div class="col-md-6 col-md-offset-2">
    <div class="feedback">
      <div class="feedback-form">
      <div class="feedback-heading">
        <h4 class="media-heading">Send me some feedback:</h4>
      </div>
          <%= form_for @feedback do |f| %>
            <div class="form-group feedback">
              <%= f.text_area :body, :placeholder => "&#xf27a; your thoughts . . .".html_safe, style: 'font-family: FontAwesome, Arial', required: true, autofocus: true %>
            </div>
            <div class="form-group feedback">
              <%= f.email_field :email, :placeholder => "&#xf199; email".html_safe, style: 'font-family: FontAwesome, Arial', required: true, autofocus: true %>

            </div>
            <%= f.submit "Send", :class => "pure-button pure-button-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
