<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Feedback from, <%= @feedback.email %></h1>
    <p>
      <%= @feedback.body %>.<br>
    </p>
    <p>
      click to view in admin: <%= @url %>.
    </p>
  </body>
</html>
