<section>

<%= render 'form' %>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'Show', results_path(id: @survey.id) %> |
    <%= link_to 'Back', account_path(current_user) %>
  </div>
</div>
</section>
